<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> File Shairng | Share with Care </title>
    <link rel="icon" href="/img/tabicon.png" type="image/x-icon">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <% if (locals.fileLink) { %>
     <div class= "download">
        <a style=" text-align: center;"> Your file is uploaded!</a>
        <a> Use the below link to share with your friends</a>
        <a href="<%= locals.fileLink  %>"><%= locals.fileLink %></a>
        <a href="/" class="home-button"> Share Another </a>
     </div>
    <% } else {%> 
    <div class="upload">
        <form action = "/upload" method="post" enctype="multipart/form-data" >
            <label for="file" style="text-align: center">File</label><br>
            <input type="file" id ="file" name = "file" required/>
            <!-- <label for="password">Password</label>
            <input type="password" name="password" id="password" /> -->
            <button style = "grid-column: span 2;" type="submit">Upload</button>
        </form>
    </div>
    <% } %>
</body>
</html>