body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a881ec;
    color: black;
}

.download,
.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    gap: .3rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(30, 35, 82, 0.1);
    background-color: #f2f2f2;
}

.upload form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: #0056b3;
}

.upload form label {
    text-align: center;
}

.upload form input[type="file"] {
    margin-left: 5rem;
    justify-self: center;
}

button, .home-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

button:hover, .home-button:hover {
    background-color: #0056b3;
    text-decoration: none;
}
